@import "tailwindcss";

.active{
  background-color: antiquewhite;
  border-color: azure;
} 

*{
   font-family: Outfit; 
}

select,input,textarea{
  border:1px solid #c2c2c2;
  outline-color: #c586c5 ;
  border-radius: 4px;
}